{% verbatim %}
    <div class="modal" id="new_program">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="form_new_program" action="/api/programs" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">New program</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="width:100%;">
                            <label>名称(英文，无空格)</label>
                            <input type="text" name="name" v-model="program.name" class="form-control"
                                   placeholder="name (must be unique)" required>
                        </div>
                        <div class="form-group" style="width:100%;">
                            <label>命令</label>
                            <input type="text" name="command" class="form-control"
                                   placeholder="例如: /usr/local/php7/bin/php console/daemons/EmailTrigger.php --env=prod">
                        </div>
                        <div class="form-group" style="width:100%;">
                            <label>工作目录</label>
                            <input type="text" name="dir" class="form-control" placeholder="directory, default is /"
                                   value="/home/worker/project_name/">
                        </div>
                        <div class="form-group" style="width:100px;">
                            <label>User</label>
                            <input type="text" name="user" class="form-control" placeholder="user, optional"
                                   value="worker">
                        </div>
                        <div class="form-group" style="width:100px;margin-left:50px;">
                            <label>Fail Retries</label>
                            <input style="max-width: 5em" type="number" name="retries" class="form-control" min="0"
                                   step="1" value="3">
                        </div>
                        <div class="form-group" style="width:100px;margin-left:50px;">
                            <label style="color: #FF3232">并行进程数</label>
                            <input style="max-width: 5em" type="number" name="process_num" class="form-control" min="1"
                                   step="1" value="1">
                        </div>
                        <div class="form-group" style="width:100px;margin-left:50px;">
                            <label>
                                <input name="autostart" type="checkbox"> 自动启动
                            </label>
                        </div>
                        <div class="form-group" style="width:100%;clear:left;">
                            <label style="color:#f00;">任务最长执行时间(单位:s)</label>（越小越好，但要保证任务有足够时间完成)
                            <input style="max-width: 5em" type="number" name="stop_timeout" class="form-control" min="3"
                                   step="1" value="3">
                        </div>
                        <div class="form-group" style="width:100%;clear:left;" v-if="is_admin">
                            <label>作者(管理员修改所有者, 默认当前登录用户)</label>
                            <input name="author" type="text" class="form-control" value="">
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">添加程序</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endverbatim %}
